.Bar {
    background: var(--gradient);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    p {
        color: var(--white-secondary);
        font-weight: bold;
    }
}

.BarIcon {
    font-size: 35px;
    color: var(--white-secondary);
}